* {
    margin: 0px;
    padding: 0px;
    font-family: arial, "HelveticaNeue";
}

body {
    background-color: #451549;
}

#login-form {
    margin: 160px auto;
    width: 400px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#header {
    height: 63px;
    background-color: #6d4a70;
    position: relative;
    border-radius: 5px 5px 0 0;
}

#header h1 {
    line-height: 63px;
    padding: 0px 20px;
    color: white;
    font-size: 16px;
}

#header a {
    text-decoration: none;
    display: block;
    position: absolute;
    right: 25px;
    top: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transform: rotate(45deg);
}

#username input, #password input {
    width: 306px;
    height: 42px;
    margin: 20px auto;
    display: block;
    padding: 5px 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #a5a5a5;
}

#username input {
    background:  #f0eef0 url('img/User.png') no-repeat right 15px center;
}

#password input {
    background:  #f0eef0 url('img/password.png') no-repeat right 15px center;
}

input:focus, input:active {
    outline: none;
}

#login-btn button {
    padding: 12px 25px;
    background-color: #451549;
    margin-left: 20px;
    color: white;
    border: none;
    background-color: #6d4a70;
    border-radius: 5px;
}

#login-btn a {
    text-decoration: none;
    color: #a5a5a5;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
}