* {
    margin: 0px;
    padding: 0px;
}

img.img-responsive.one-img {
    margin-top: 30px;
    border-radius: 2px;
    position: relative;
}

body {
    background-color: #52e4fd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carousel-caption.caption-info {
    top: 120px;
    left: 100px;
    background-color: #55b8b81c;
    width: 250px;
    height: 180px;
    border-radius: 5px;
}

span.glyphicon.glyphicon-chevron-left.left-arrows {
    left: 10px;
    background-color: #fefbfb54;
    border-radius: 2px;
}
span.glyphicon.glyphicon-chevron-right.right-arrow {
    background-color: #fefbfb54;
    right: 10px;
    border-radius: 2px;
}


#wapper {
    width: 1400px;
    margin: 80px auto;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 5px 2px 2px 2px #b4b4b2;
}

#header {
    height: 150px;
    line-height: 150px;
    border-bottom: 2px solid #f3f3f3;
}

i {
    margin-right: 10px;
}

#menu {
    height: 50px;
    line-height: 50px
}

#menu ul li {
    list-style-type: none;
    display: inline;
    padding: 8px 15px;
}

#menu ul li a {
    text-decoration: none;
    color: #22221f;
    font-size: 16px;
    font-weight: 400;
}

#menu ul li a:hover {
    color: #4be8fb;
}

#search {
    width: 240px;
    border-radius: 22px;
    padding: 15px;
}

#submit_search {
    padding: 0px;
    margin-left: -40px;
}

.bgcolor {
    background-color: #ffffff;
}

.info-btn a {
    position: absolute;
    top: 135px;
    right: 150px;
    padding: 8px 14px;
    background-color: #4be8fba1;
    border-radius: 12px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
.info-btn a:hover{
    background-color: #4be8fb;
    color: black;
}
